<div class="header-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <i class="bi bi-cart2"></i>
      My Shopping List
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link" [routerLink]="item?.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <ng-container *ngIf="item.iconClass">
              <i class="bi" [ngClass]="item?.iconClass"></i>
            </ng-container>
            {{item?.display}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown text-white" *ngIf="currencies?.length">
      Currency
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{selectedCurrency?.name}}
      </button>
      <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ng-container *ngFor="let currency of currencies">
          <a class="dropdown-item" href="#" (click)="changeCurrency(currency)" [ngClass]="{'font-weight-bold': selectedCurrency?.name === currency?.name}">{{currency?.name}}</a>
        </ng-container>
      </div>
    </div>
  </nav>
</div>
