<div class="purchase-by-store-table-wrapper">
  <table class="table table-responsive-sm table-hover">
    <thead>
    <tr class="table-primary">
      <th scope="col" class="store-name-header">Store name</th>
      <th scope="col" class="quantity-header">Quantity</th>
      <th scope="col" class="price-header">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="storesSum && storesSum?.length === 0; else purchaseByStoreTableTemplate">
      <td colspan="5">There are no purchase yet.</td>
    </tr>
    <ng-template #purchaseByStoreTableTemplate>
      <tr *ngFor="let store of storesSum">
        <td class="ellipsis-text store-name">
          <span [tooltip]="store?.name">{{store?.name}}</span>
        </td>
        <td class="ellipsis-text quantity">
          <span [tooltip]="store?.quantity">{{store?.quantity}}</span>
        </td>
        <td class="ellipsis-text price">
          <span [tooltip]="store?.price | currencyExchange: [defaultCurrency?.rate, selectedCurrency?.rate] | currency: selectedCurrency.name">
            {{store?.price | currencyExchange: [defaultCurrency?.rate, selectedCurrency?.rate] | currency: selectedCurrency.name}}
          </span>
        </td>
      </tr>
    </ng-template>
    </tbody>
    <tfoot class="font-weight-bold bg-light" *ngIf="storesSum && storesSum?.length > 0;">
      <tr>
        <td colspan="2"></td>
        <td colspan="1">
          <span [tooltip]="storesSum | fieldSum: 'price'| currencyExchange: [defaultCurrency?.rate, selectedCurrency?.rate] | currency: selectedCurrency.name">
            Sum: {{storesSum | fieldSum: 'price' | currencyExchange: [defaultCurrency?.rate, selectedCurrency?.rate] |  currency: selectedCurrency.name}}
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
